/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f7e6be;
    padding: 0;
    margin: 0;
    bottom: 0;
}

nav.navbar {
    height: 50px;
    line-height: 50px;
    background-color: black;
    padding: 0px 8%;
    color: white;
}

.cont_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8%;
}

.cont_router {
    width: 100%;
    padding-top: 20px;
}

select {
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1rem;
    padding: 5px 10px;
    margin-right: 10px;
  }
  