
.cont_habitaciones {
  --auto-grid-min-size: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.card_habitacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.card_habitacion:hover {
    
    transform: scale(1.1);
}

.cont_caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
}

.caracteristica {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    line-height: 30px;
    color: #485755;
}


span.num_habitacion {
    position: relative;
    color: white;
    font-size: 1.8rem;
    width: 100%;
    line-height: 50px;
}

.icon_num_hab {
    color: #00000054;
    position: absolute;
    left: 10px;
    font-size: 20px;
}

.icon_ejecutiva {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 12px;
    color: #ffffff80;
}